body {
    margin: 0px;
    padding: 0px;
}

.background {
    margin: 0px;
    background-image: url('mk.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.background.projects {
    background-image: url(code.png);
    background-position: left;
}

h1.mk {
    margin-top: 25vh;
    color: lightgray;
    text-align: center;
    font-family: Consolas;
    font-size: 10vh;
}

p.mk {
    color: lightgray;
    text-align: center;
    margin-top: -8vh;
    font-family: Arial;
    font-size: 4vh;
}

.project {
    color: lightgray;
    text-align: center;
    margin-top: 0vh;
    font-family: Arial;
    font-size: 4vh;
}

.project.aprojects {
    font-size: 4.5vh;
    margin-top: -7vh;
}